<div class="menu">
  <div class="container pl-2 pt-4" id="options">
    <h1 class="text-white">Menu</h1>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']" routerLinkActive="router-link-active" >
          <button>Listado</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/agregar']" routerLinkActive="router-link-active"><button>
          Agregar Alumno
        </button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/general']" routerLinkActive="router-link-active"><button>
          Listado General
        </button></a>
      </li>
    </ul>
  </div>
</div>
