<div class="container">
  <div class="row col-md-8 offset-2 custyle">
    <table class="table table-lg-responsive table-striped">
      <thead class="bg-secondary text-white">
        <th  *ngFor="let col of displayedColumns">
          <tr class="text-center">
            <span> {{ col | uppercase }}</span>
          </tr>
        </th>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let item of studentsList">
          <td>{{ item.ID }}</td>
          <td>{{ item.Name || '-- unknown --' | uppercase}}</td>
          <td *ngIf="item.Gender === '1'" ngClass="male"><span>Male</span></td>
          <td *ngIf="item.Gender === '0'" ngClass="female"><span>Female</span></td>
          <td class="badge " [ngClass]="{
            'badge-success text-white': item.Class >= 75,
            'badge-warning': item.Class < 75 && item.Class >= 40,
            'badge-danger': item.Class < 40
          }">{{ item.Class }}</td>
          <td>
            <span  [ngSwitch]="item.Club">
              <span *ngSwitchCase="'0'" class="badge badge-primary text-danger">Barcelona</span>
              <span *ngSwitchCase="'11'" class="badge badge-light text-dark">Real Madrid</span>
              <span *ngSwitchCase="'6'" class="badge badge-primary text-white">Chelsea</span>
              <span *ngSwitchCase="'3'" class="badge badge-dark text-white">Juventus</span>
              <span *ngSwitchCase="'100'" class="badge badge-danger border-primary text-white">Bayern</span>
              <span *ngSwitchDefault class="badge badge-danger text-dark"> Manchester United</span>
            </span>
          </td>
          <td>{{ item.Persona }}</td>
          <td>{{ item.Hairstyle }}</td>
          <td>{{ item.Color }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
