.main{
  background-color: #f0f0f0 ;
  text-align: center;
  height: 100vh;
}

.content-card {
  max-width: 400px;
  margin-bottom: 8px;
}

ul{
  padding-left: 0%;
}

li{
  list-style: none;
  list-style-position: initial;
}
