.main{
  background-color: #f0f0f0 ;
  text-align: center;
  height: 100vh;
}

.content-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;

}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

ul{
  padding-left: 0%;
}

li{
  list-style: none;
  list-style-position: initial;
}
