<div class="main">
  <h1 class="animate__animated animate__fadeInDownBig ml10">
    <span class="text-wrapper">
      <span class="">Recipes</span>
    </span>
  </h1>

  <div class="row ml-5">
    <div class="full-container" *ngFor="let item of list">
      <div class="col-sm">
        <mat-card class="content-card">
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.originalURL !== undefined"
            ><a href="{{ item.originalURL }}">Link</a></mat-card-subtitle
          >
          <img
            mat-card-image
            src="{{ item.imageURL || item.originalURL }}"
            alt="Photo of a {{ item.name }}"
          />
          <mat-card-content>
            <h3>Ingredients.</h3>
            <ul *ngFor="let ingredient of item.ingredients">
              <li>{{ ingredient.name }}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
